<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>7ACCADC3-93CA-405A-A3AF-D34FBD35070C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F51C7B6E-315D-4D6F-9333-0038901E8668</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>Search Saddleback Leather Daves Deals</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Daves Deals</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://www.saddlebackleather.com/daves-deals</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F51C7B6E-315D-4D6F-9333-0038901E8668</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>davesdeals</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>while we find your item</string>
				<key>script</key>
				<string>query="{query}"

require_once 'davesDeals.php';

$x = new DaveDeals();

$x-&gt;getAllDeals();</string>
				<key>subtext</key>
				<string>Search Daves Deals</string>
				<key>title</key>
				<string>Saddleback Leather</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7ACCADC3-93CA-405A-A3AF-D34FBD35070C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>7ACCADC3-93CA-405A-A3AF-D34FBD35070C</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>F51C7B6E-315D-4D6F-9333-0038901E8668</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
